.contactForm {
  background-image: url("../../public/images/peoplebanner.png");
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-size: 37.5rem;
  height: 600px;
  width: 100%;
  padding: 40px;
  color: black;
}

.image {
  background-image: url("../../public/images/socialmedia.png");
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 3, 0.2);
  filter: none;
  background-size: cover;
  width: 800px;
}
.image h1 {
  padding-left: 150px;
}
.contactInput {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: #5f85db;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 3, 0.2);
}
