.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 80px;
}
.footer a{
    text-decoration: none;
    line-height: 40px;
}
.footer p{
    line-height: 40px;
}
.contact{
    padding: 30px;
}
.visit{
    padding: 30px;
}
.media{
    padding: 30px;
}
.logo{
    padding-bottom: 60px;
}