.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer.a{
    text-decoration: none;
}

.contact{
    padding: 30px;
}
.visit{
    padding: 30px;
}
.media{
    padding: 30px;
}