*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
  }
.banner{
    background-image: url("../../public/images/zoom.jpg");
    height: 600px;
}
@media(max-width: 414px){
  .banner{
      width: 414px;
  }
}
@media(max-width: 375px){
  .banner{
      width: 375px;
  }
}