.slider{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width: 100%;
    height: 37.5rem;
    border-radius: 10px;
}
.right_arrow{
    position: absolute;
    top: 50%;
    right: 40px;
    padding: 15px;
    font-size: 3rem;
    color: #352f44;;
    box-shadow: 5px 6px 1px;
    background-color: white;
    border-radius: 30px;
    z-index: 10;
    cursor: pointer;
    user-select: none;

}
.right_arrow:hover{
    color: black;
}

.left_arrow{
    position: absolute;
    top: 50%;
    padding: 15px;
    font-size: 3rem;
    left: 30px;
    color: #352f44;
    background-color: white;
    box-shadow: 5px 6px 1px;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
}
.left_arrow:hover{
    color: black;
}
.slide {
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}